arrow==0.15.5
cassiopeia==4.0.9
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
console-logging==0.0.5.0
datapipelines==1.0.7
decorator==4.4.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
merakicommons==1.0.9
networkx==2.4
Pillow==9.3.0
pymongo[srv]
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
termcolor==1.1.0
urllib3==1.25.8
Werkzeug==1.0.1
flask_cors
